<!DOCTYPE html>
<html>
	{% include 'header.html' %}
	<body>
		{% include 'menu.html' %}
		<div class="container" style="padding-top:10px;">
			<div class="row">
				<div class="col-lg-12">
					<h1 align="center">Derniers fantômes</h1>
				</div>
				<div class="col-lg-12">
					{% include 'new-ghost.html' %}
				</div>
				{% if errorMsg == "tooLong" %}
					<div class="col-11" style="margin:10px;background: red;color:white;">
						Votre message dépasse la limite de charactères autorisée ( max 280 )
					</div>
				{% elif errorMsg == "moderationIssue" %}
					<div class="col-11" style="margin:10px;background: red;color:white;">
						Votre message ne respecte pas notre politique de modération.
					</div>
				{% endif %}
				<div class="col-lg-12">
					{% if username != "NULL" %}
						{% for g in gaz %}
							{% if g.user == username %}
							<div id="gazouille-{{loop.index}}" class="block-tweet">
								<div><a href="/timeline/{{g.user}}">{{g.user}}</a></div>
								{% if g.text %}
									<div>{{g.text}}</div>
								{% endif %}
							</div>
							<br>
							{% endif %}
						{% endfor %}
					{% else %}
						{% for g in gaz %}
							<div id="gazouille-{{loop.index}}" class="block-tweet">
								<div><a href="/timeline/{{g.user}}">{{g.user}}</a></div>
								{% if g.text %}
									<div>{{g.text}}</div>
								{% endif %}
							</div>
							<br>
						{% endfor %}
					{% endif %}

				</div>
			</div>
		</div>
	</body>
	{% include 'footer.html' %}
	<style>
		.block-tweet{
			display: block;
			width:100%;
			margin-top:20px;
			padding:20px;
			box-shadow: 5px 5px 5px white;
			background:black;
			color:white;
		}
	</style>
</html>