<!DOCTYPE html>
<html>
    {% include 'header.html' %}
<body>
    {% include 'menu.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom:20px;">
                <h1 align="center">Inscription </h1>
                <br>
                <form id="formulaire" action="" method="post">
                    <input type="text" name="user-mail" placeholder="Mail" class="form-control">
                    <br>
                    <input type="text" name="user-name" placeholder="Username" class="form-control">
                    <br>
                    <input type="password" name="user-password" placeholder="Password" class="form-control">
                    <br>
                    <label for="user-name">Photo de profil</label><br>
                    <input type="file" name="user-picture">
                    <br><br>
                    <button type="submit" class="btn-custom">
                        <i class="fas fa-ghost"></i>
                        Devenir un ghosteur
                        <i class="fas fa-ghost"></i>
                    </button>
                </form>
    
            </div>
        </div>
    </div>
    <style>
            .btn-custom{
                color:white;
                background:black;
                transition : all 0.5s ease;
                border : 1px solid black;
                padding : 5px;
                border-radius:5px;
            }
        
            .btn-custom:hover{
                color:black;
                background:white;
                border : 1px solid black;
            }
        </style>
</body>

{% include 'footer.html' %}
</html>