<nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mon compte
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:300px;padding:10px;">
                <div class="row">
                  <div class="col-lg-12">
                    <form action="/login" method="POST">
                      <h4 align="center">Connexion</h4>
                      <br>
                      <input type="text" name="login" class="form-control" placeholder="Login">
                      <br>
                      <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                      <br>
                      <input class="btn btn-custom" type="submit" value="Connexion">
                    </form>
                    <br>
                    <a href="/inscription" class="link">Pas de compte ? inscrivez vous ici</a>
                  </div>
                </div>
              </div>
            </li>
      </ul>
    </div>
  </nav>
  <style>
  	.btn-custom{
		color:white;
		background:black;
		transition : all 0.5s ease;
		border : 1px solid black;
		padding : 5px;
		border-radius:5px;
	}

	.btn-custom:hover{
		color:black;
		background:white;
		border : 1px solid black;
	}
  </style>
  <script>
    $.ready(function(){
      
    });
  </script>