<div>
	<h3>BOUH</h3>
	<form id="formulaire" action="/gaz" method="post">
		<input type="text" name="user-name" class="form-control" placeholder="Nom utilisateur">
		<br>
		<textarea name="user-text" class="form-control" placeholder="Mon fantôme"></textarea>
		<br>
		<button type="submit"  class="brn btn-custom">
			<i class="fas fa-ghost"></i>
				Bouh
			<i class="fas fa-ghost"></i>
		</button>
	</form>
</div>
<style>
	.btn-custom{
		color:white;
		background:black;
		transition : all 0.5s ease;
		border : 1px solid black;
		padding : 5px;
		border-radius:5px;
	}

	.btn-custom:hover{
		color:black;
		background:white;
		border : 1px solid black;
	}
</style>