<!DOCTYPE html>
<html>
	{% include 'header.html' %}
	<body>
		{% include 'menu.html' %}
		<div class="container" style="padding-top:10px;">
			<div class="row">
				<div class="col-lg-12">
					<h1 align="center">Liste des ghosteurs</h1>
				</div>
				<div class="col-lg-12">
						{% for user in listeuser %}
							<div id="gazouille-{{loop.index}}">
								<div><a href="/timeline/{{g.user}}">{{user.username}}</a></div>
							</div>
							<br>
						{% endfor %}
				</div>
			</div>
		</div>
	</body>
	{% include 'footer.html' %}
	<style>
	</style>
</html>